.pc786postCard {
    height: 650px;
    width: 80vw;
    margin: 20px 0;
    padding: 16px;
    border-bottom: 1px solid var(--ss-border-color);
}

.pc786postCardHeaderLink {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    text-decoration: none;
    color: var(--ss-text);
}

.pc786postCardHeaderImage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.pc786postCardHeaderImage:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.pc786postCardHeaderName {
    font-size: 14px;
}

.pc786postCardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.pc786postCardImage {
    height: 475px;
    /* width: 400px; */
    width: 100%;
    border: 1px solid var(--ss-postImage-border);
    cursor: pointer;
}

.pc786postCardInteractions {
    padding: 0 5px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.pc786postCardLikes {
    margin: 0 10px;
}

.pc786postCardDescription {
    font-size: 14px;
}