.pc786postCard {
    margin: 10px;
    background-color: var(--ss-background);
    border-radius: 10px;
    overflow: hidden;
    /* width: 300px; */
    width: 27vw;
    margin: 10vw 0;
    box-shadow: 0 2px 20px var(--ss-text);
    -webkit-box-shadow: 0 2px 20px var(--ss-text);
    -moz-box-shadow: 0 2px 20px var(--ss-text);
    transform: scale(1.3);
    padding: 10px;
    min-width: 300px;
}

.pc786postCardHeaderImage {
    width: 100%;
    height: 40vw;
    min-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1440px) {
    .pc786postCard {
        transform: scale(1.2);
        margin: 10vw 0;
    }
}

@media (max-width:768px) {
    .pc786postCard {
        margin: 10vw 0;
        transform: scale(1.1);
    }
}

.pc786postCardGrid {
    margin: 10px;
    background-color: var(--ss-background);
    border-radius: 10px;
    box-shadow: 0 2px 20px var(--ss-text);
    -webkit-box-shadow: 0 2px 20px var(--ss-text);
    -moz-box-shadow: 0 2px 20px var(--ss-text);
    overflow: hidden;
    width: 300px;
    margin-top: 5vh;
    cursor: pointer;
    text-decoration: none;
    color: var(--ss-text);
}

.pc786postCardGridHeaderImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.pc786postCardHeader{
    position: relative;
}

.pc786postCardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    /* min-height: 0px; */
    /* border: 1px solid red; */
}

.pc786postCardInteractions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 16px; */
    align-items: center;
}

.pc786postCardDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    /* margin: 0 0 40px; */
    /* border: 1px solid blue; */
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    min-height: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.pc786postCardUser {
    display: flex;
    margin-top: auto;
    text-decoration: none;
    color: var(--ss-text);
    margin: 5px 0 15px 0;
}

.pc786postCardUserImage {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.pc786postCardUserName {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.pc786postCardDate {
    font-size: 12px;
    margin: 0;
    color: #545d7a;
}

.pc786value {
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .pc786postCardGrid {
        width: 100px;
    }

    .pc786postCardGridHeaderImage {
        height: 100px;
    }
}