.pc786postCard {
    margin: 10px;
    background-color: var(--ss-background);
    border-radius: 10px;
    box-shadow: 0 2px 20px var(--ss-text);
    overflow: hidden;
    width: 300px;
    margin-top: 5vh;
}

.pc786postCardGrid {
    margin: 10px;
    background-color: var(--ss-background);
    border-radius: 10px;
    box-shadow: 0 2px 20px var(--ss-text);
    overflow: hidden;
    width: 300px;
    margin-top: 5vh;
    cursor: pointer;
    text-decoration: none;
    color: var(--ss-text);
}

.pc786postCardGridHeaderImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.pc786postCardHeaderImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pc786postCardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.pc786postCardInteractions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;
}

.pc786postCardDescription {
    font-size: 13px;
    margin: 0 0 40px;
}

.pc786postCardUser {
    display: flex;
    margin-top: auto;
    text-decoration: none;
    color: var(--ss-text);
}

.pc786postCardUserImage {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.pc786postCardUserName {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.pc786postCardDate {
    font-size: 12px;
    margin: 0;
    color: #545d7a;
}